<div class="center hero-unit">
	<h1>BADPHOTO</h1>
	<div class="row">
		<div class="col-xs-6">
			<a href='/modelTests' class="thumbnail">
				<%= image_tag("modelTests/testShoot1.jpg", alt: "tests") %>
			</a>
		</div>
		<div class="col-xs-6">
			<a href='/la' class="thumbnail">
				<%= image_tag("la/la1.jpg", alt: "los angeles") %>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<a href='/nyc' class="thumbnail">
				<%= image_tag("nyc/nyc1.jpg", alt: "nyc") %>
			</a>
		</div>
		<div class="col-xs-6">
			<a href='/ohio' class="thumbnail">
				<%= image_tag("ohio/ohio1.jpg", alt: "oh") %>
			</a>
		</div>
	</div>
</div>