<div class="copyright">
	<p>All photographs that appear on this website are the sole copyright of Brett Davis and are protected under the Copyright Laws of the United States.<br/>Reproduction, storage or transmission of any images by any means is prohibited without the express prior written permission of Brett Davis.</p>
</div>