<nav class="sidebar" >
	<ul class="pull-left">
		<li><%= link_to "Model Tests", modelTests_path %></li>
		<li><%= link_to "LA", la_path, :data_background_color => 'la' %></li>
		<li><%= link_to "NYC", nyc_path %></li>
		<li><%= link_to "Ohio", ohio_path %></li>
	</ul>
<nav>
